<h1 class="title">Página Principal: <%=current_user.email%> </h1>

<section class="section">
    <div class="container has-text-centered" style="background-image: url('assets/fondo4.jpg');background-repeat: no-repeat; background-position:center">
      <div class="column is-4 is-offset-4"">


          <div class="box">
            <a href="/posts/new">
              <span class="icon is-medium has-text-info">
                <i class="fas fa-file fa-2x" style="color:#5c068c"></i>
              </span>
              <p style="color:#5c068c">Nuevo proyecto</p>
            </a>
          </div>
          <div class="box">
            <a href="/posts/new">
              <span class="icon is-medium has-text-info">
                <i class="fas fa-sitemap fa-2x" style="color:#5c068c"></i>
              </span>
              <p style="color:#5c068c">Nuevo cluster</p>
            </a>
          </div>
        </div>

  </div>
</section>

<script>
  function callAnsible(){
    $.ajax({
        url: '/createVM',
        type: 'GET',
        success: function(data){
          console.log(data);
          document.getElementById("output").innerHTML=data;
        },
        error: function(data){
          console.log(data.responseText);
          document.getElementById("output").innerHTML=data.responseText;
        }
    });
  }
</script>


<section class="section">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
                <p class="title is-4"><%=link_to post.title, post %></p>
            </div>
          </div>
          <div class="content">
            <%= post.content %>
          </div>
        <!--  <div class="commet-count">
            <spam class="tag is-rounded"><%# comment count%> </spam>
          </div> -->
        </div>
      </div>
    <% end %>
  </div>
</section>
