<style>
  .footer {
    position: relative;
    background-color: #333;
    color: white;
    width: 100%;
    bottom: 0;
    margin-top:200px;
}
  </style>

<footer class="footer" style="padding-bottom:2rem; padding-top:2rem;">
  <div class="content has-text-right">
    <p>
      Master en Ciberseguridad e Inteligencia de datos
    </p>
  </div>
</footer>
