<header style="background:#5c068c">
  <%= image_tag("ull_logo.png", :alt => "ULL") %>
</header>
<section class="hero is-light is-small">
  <div class="hero-body">
    <div id="header" class="navbar-end">
      <% if signed_in? -%>
        <label class="label" style="float:left;padding-right:0.2cm"><%=current_user.email%></label>
        <%= link_to t(".Desconectarse"), sign_out_path, method: :delete, class: 'button is-small' %>
      <% else -%>
        <%= link_to t(".Iniciar sesión"), sign_in_path, class: 'button is-small' %>
      <% end -%>
    </div>
  </div>
</section>
